<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./img/favicon.png">
    <title>Forest Bank - Accounts</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
    <div id="app" class="contenedorHome">

        <header>
            <div class="navHeader">
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                      <a class="nav-link" data-bs-toggle="modal" data-bs-target="#contactModal" href="#">Contact</a>
                    </li>
                    <li class="nav-item">
                        <h4>|</h4>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" v-on:click="logOut()">Log out</a>
                    </li>
                </ul>
            </div>

            <div class="contenidoHeader container">
                <div class="tituloLogo">
                    <img src="./img/logoCompleto.png" alt="logoForestBank" class="logoCompletoInicio">
                </div>
                <div class="bienvenida">
                    <h4>Welcome</h4>
                    <h5>{{clientData.lastName}}, {{clientData.name}}</h5>
                </div>
            </div>
  
            <!-- Modal -->
            <div class="modal fade" id="contactModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" style="color: black" id="exampleModalLabel">Contact information</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Customer care center: 0810-222-3333</p>
                        <p>Email: clients@ForestBank.com</p>
                        <p>Location:</p>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2404.5123324609976!2d-1.135589984020444!3d52.939203812829405!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4879c3c5c8913c21%3A0xa89eea400ae3f482!2sThe%20Nottingham%20Forest%20Football%20Club!5e0!3m2!1ses!2sar!4v1655788951928!5m2!1ses!2sar" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
                </div>
            </div>

        </header>

        <nav class="sticky-top navbar navbar-dark bg-dark navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="#"><img src="./img/logo.png" alt="logoBanco" class="logoNav"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">Accounts</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="./transfers.html">Transfers</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="./loan-application.html">Loans</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Cards
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="./cards.html">Your cards</a></li>
                      <li><a class="dropdown-item" href="./createCards.html">Request card</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
        </nav>
        
        <main> 
            <div class="contenedorAccounts">
                <div class="contenedorCartasCuentas" >
                    <h4>Accounts</h4>
                    <div v-for="account in clientAccounts">
                        <div class="card cardCuenta mb-3">
                            <div class="card-body">
                                <h5 class="card-title">Account information:</h5>
                                <p class="card-text">Number: {{account.number}}</p>
                                <p class="card-text">Balance: ${{(account.balance).toLocaleString("de-DE")}}</p>
                                <p class="card-text">Date of creation: {{new Date(account.creationDate).toLocaleString()}}</p>
                                <p class="card-text">Type: {{account.type}}</p>
                                <a class="ver" :href="'http://localhost:8080/web/account.html?id=' + account.id"><p>Account details</p></a>
                            </div>
                        </div>
                    </div>

                    <div class="contenedorBotonesCuentas">
                        <button class="boton" v-if="clientAccounts.length < 3" @click="selectAccountType()">Request new account</button>
                        <a href="./transfers.html"><button class="boton">New transfer</button> </a>
                    </div>
                </div>

                <div class="contenedorTablas">
                    <div v-if="accountsTransactions.length > 0 && activeFilter == false">
                        <h4>All transactions</h4>
                        <table class="table table-dark ">
                            <thead>
                                <tr>
                                    <th scope="col">Amount</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Current balance</th>
                                </tr>
                            </thead>
                            <tbody v-for="transaction in accountsTransactions">
                                <tr v-if="transaction.type != 'CREDIT'">
                                    <td class="debito">-${{(transaction.amount).toLocaleString("de-DE")}}</td>
                                    <td>{{transaction.description}}</td>
                                    <td>{{new Date(transaction.date).toLocaleString()}}</td>
                                    <td>${{(transaction.currentBalance).toLocaleString("de-DE")}}</td>
                                </tr>
                                <tr v-else>
                                    <td class="credito">+${{(transaction.amount).toLocaleString("de-DE")}}</td>
                                    <td>{{transaction.description}}</td>
                                    <td>{{new Date(transaction.date).toLocaleString()}}</td>
                                    <td>${{(transaction.currentBalance).toLocaleString("de-DE")}}</td>
                                </tr>    
                            </tbody>
                        </table>
                        <button class="boton" @click="showFilter = !showFilter">Filter by dates</button>
                        <div class="container containerDates" v-if="showFilter == true">
                            <h5>Date filter:</h5>
                            <label for="firstDate">Since:</label>
                            <input type="date" name="firstDate" id="firstDate" :max="maxDate" v-model="firstDate">
                            <label for="secondDate">Until:</label>
                            <input type="date" name="secondDate" id="secondDate" :max="maxDate" v-model="secondDate">
                            <button type="button" class="boton mt-2" @click="filterTransactions()">Apply filter</button>
                        </div>
                    </div>
                    <div v-if="accountsTransactions.length == 0">
                        <h4>You have not made any transaction.</h4>
                    </div>

                    <div v-if="activeFilter == true">
                        <div v-if="filteredTransactions.length > 0">
                            <h4>Transactions from: {{firstDate}} to {{secondDate}}</h4>
                            <table class="table table-dark ">
                                <thead>
                                    <tr>
                                        <th scope="col">Amount</th>
                                        <th scope="col">Description</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Current balance</th>
                                    </tr>
                                </thead>
                                <tbody v-for="transaction in filteredTransactions">
                                    <tr v-if="transaction.type != 'CREDIT'">
                                        <td class="debito">-${{(transaction.amount).toLocaleString("de-DE")}}</td>
                                        <td>{{transaction.description}}</td>
                                        <td>{{new Date(transaction.date).toLocaleString()}}</td>
                                        <td>${{(transaction.currentBalance).toLocaleString("de-DE")}}</td>
                                    </tr>
                                    <tr v-else>
                                        <td class="credito">+${{(transaction.amount).toLocaleString("de-DE")}}</td>
                                        <td>{{transaction.description}}</td>
                                        <td>{{new Date(transaction.date).toLocaleString()}}</td>
                                        <td>${{(transaction.currentBalance).toLocaleString("de-DE")}}</td>
                                    </tr>    
                                </tbody>
                            </table>
                            <a href="./accounts.html"><button class="boton">Disable filters</button></a>
                        </div>
                    </div>

                    <div v-if="clientLoans.length > 0">
                        <h4>Loans</h4>
                        <table class="table table-dark ">
                            <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Amount</th>
                                    <th scope="col">Payments</th>
                                </tr>
                            </thead>
                            <tbody v-for="loan in clientLoans">
                                <tr>
                                    <th>{{loan.name}}</th>
                                    <th>{{(loan.amount).toLocaleString("de-DE")}}</th>
                                    <th>{{loan.payments}}</th>
                                </tr>
                            </tbody>
                        </table>
                        <a href="./loan-application.html"><button class="boton">Request loan</button></a>
                    </div>
                    <div v-else class="d-flex flex-column align-items-center mt-3">
                        <h4>You have not applied for any loan.</h4>
                        <a href="./loan-application.html"><button class="boton">Request loan</button></a>
                    </div>
                </div>
            </div>  
        </main>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="./js/accounts.js"></script>
</body>
</html>