<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear tarjetas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div id="app">
        <header>
            <div class="navHeader">
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="modal" data-bs-target="#contactModal" href="#">Contact</a>
                    </li>
                    <li class="nav-item">
                        <h4>|</h4>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" v-on:click="logOut">Log Out</a>
                    </li>
                </ul>
            </div>

            <div class="contenidoHeader container">
                <div class="tituloLogo">
                    <img src="./img/logoCompleto.png" alt="logoForestBank" class="logoCompletoInicio">
                </div>
                <div>
                    <h2>Delete card</h2>
                </div>
            </div>

            <div class="modal fade" id="contactModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" style="color: black" id="exampleModalLabel">Contact information</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Customer care center: 0810-222-3333</p>
                        <p>Email: clients@ForestBank.com</p>
                        <p>Location:</p>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2404.5123324609976!2d-1.135589984020444!3d52.939203812829405!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4879c3c5c8913c21%3A0xa89eea400ae3f482!2sThe%20Nottingham%20Forest%20Football%20Club!5e0!3m2!1ses!2sar!4v1655788951928!5m2!1ses!2sar" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
                </div>
            </div>
            
        </header>

        <nav class="sticky-top navbar navbar-dark bg-dark navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="./accounts.html"><img src="./img/logo.png" alt="logoBanco" class="logoNav"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="./accounts.html">Accounts</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link navActivo" href="./transfers.html">Transfers</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="./loan-application.html">Loans</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Cards
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="./cards.html">Your cards</a></li>
                      <li><a class="dropdown-item" href="./createCards.html">Request card</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
        </nav>

        <main>
            <div class="contenedorBorrarTarjetas">
                <div class="contenedorFormBorrarTarjetas">
                    <h4 class="h4CrearTarjetas">Select card to delete</h4>
                    <form v-on:submit.prevent="deleteCard()">
                        <div>
                            <label for="tarjetaSeleccionada" >Card: </label>
                            <select name="tarjetaSeleccionada" id="tarjetaSeleccionada" @click="selectCardToDelete()" v-model="cardNumber" required>
                                <option v-for="card in cardsClient" :value="card.number">{{card.type}} - {{card.color}}</option>
                            </select>
                        </div>
    
                        <div class="contenedorTarjetaPlaceholder">
                            <div v-if="cardToDelete.color == 'SILVER'">
                                <div class="credit-card visa silver selectable">
                                    <div class="credit-card-number">
                                        {{cardToDelete.number}}
                                    </div>
                                    <div class="credit-card-expiry" v-if="cardToDelete.expired == false">
                                        {{cardToDelete.expiry}}
                                    </div>
                                    <div class="credit-card-expiry-expired" v-if="cardToDelete.expired == true">
                                        {{cardToDelete.expiry}}
                                        <p>EXPIRED</p>
                                    </div>
                                    <div class="cardNameClient">
                                        {{cardToDelete.cardholder}}
                                    </div>
                                </div>
                            </div>
                            <div v-else-if="cardToDelete.color == 'GOLD'">
                                <div class="credit-card visa gold selectable">
                                    <div class="credit-card-number">
                                        {{cardToDelete.number}}
                                    </div>
                                    <div class="credit-card-expiry" v-if="cardToDelete.expired == false">
                                        {{cardToDelete.expiry}}
                                    </div>
                                    <div class="credit-card-expiry-expired" v-if="cardToDelete.expired == true">
                                        {{cardToDelete.expiry}}
                                        <p>EXPIRED</p>
                                    </div>
                                    <div class="cardNameClient">
                                        {{cardToDelete.cardholder}}
                                    </div>
                                </div>
                            </div>
                            <div v-else>
                                <div class="credit-card visa titanium selectable">
                                    <div class="credit-card-number">
                                        {{cardToDelete.number}}
                                    </div>
                                    <div class="credit-card-expiry" v-if="cardToDelete.expired == false">
                                        {{cardToDelete.expiry}}
                                    </div>
                                    <div class="credit-card-expiry-expired" v-if="cardToDelete.expired == true">
                                        {{cardToDelete.expiry}}
                                        <p>EXPIRED</p>
                                    </div>
                                    <div class="cardNameClient">
                                        {{cardToDelete.cardholder}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-primary">Delete Card</button>
                    </form>
                </div>
            </div>
        </main>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="./js/deleteCards.js"></script>
</body>
</html>